h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body{
    font-family: sans-serif;
    background-color: rgb(46,37,50);
    color: white;

}

strong{
    color: aqua;
}

ul{
   line-height: 25px; 
}

#HTML {
    font-size: 1.1em;
}

#CSS {
    font-size: 1.2em;
}

#JAVASCRIPT {
    font-size: 1.3em;
}

#REACT {
    font-size: 1.4em;
}

#PYTHON{
    font-size: 1.5em;
}