h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body{
    font-family: sans-serif;
    background-color: rgb(46,37,50);
    color: white;

}

strong{
    color: aqua;
}

ul{
   line-height: 25px; 
}


/* TAGS */

.item-list{
    font-size: 0.8em;
}

.button-link {
    padding: 8px 10px;
    background-color: aqua;
    border-radius: 4px;
    color: rgb(46,37,50);
    text-decoration: none;
}