.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}

.width-height{
    height: 50px;
    width: 50px;
    background-color: aqua;
}

.padding {
    padding: 20px;
}

.margin {
    margin: 30px;
}

.border {
    border: 5px solid black;
}