/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.2em;
  margin: 2%;
}

article {
}

h1 {
  font-size: 1.5em;
}

h2 {
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

img {
  margin-bottom: 10px;
}

main {
}

section {
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.8em;
}

@media screen and (min-width: 800px) {
  body {
    background-color: cadetblue;
    font-size: 1.4em;
    margin: 5%;
  }
  section {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 600px 600px;
  }
 
}

@media screen and (min-width: 1200px){
    body {
        background-color: aquamarine;
        font-size: 1.5em;
        margin: 7%;
        max-width: 80%;
    };
}
