version: '3'
services:
  todofront:
    build: frontend/
    ports:
      - 3000:3000
    depends_on:
      - back
    environment:
      - REACT_APP_API_HOST=back

  back:
    build: backend/
    ports:
      - 3001:3001

  todotests:
    build: testes/
    depends_on:
      - front
      - back
    environment:
      - FRONT_HOST=front
    
