html {
    scroll-behavior: smooth;
}

header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 0;
}


h1{
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    color: white;
    line-height: 100px;
    font-size: 36px;
}

h3 {
    margin-top: 40px;
    color: white;
    margin-bottom: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
    line-height: 20px;
}

strong {
    color: rgb(34, 27, 27);
}

ul {
   list-style: none;
   margin: 0;
}

footer{
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(52,58,64);
    color: white;
    font-size: 18px;
    height: 75px;
}

/* CLASS Selectors */

.header-text{
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    
    
    transition: scale 350ms ease, opacity 350ms linear;
}

.introduction {
    text-align: center;
}

.ramon-photo img{
    width: 200px;
    border-radius: 100%;
    border: 5px white solid;
}

.subtitle-wrapper {
    position: relative;
    left: -30%;
}

.about-me{
    width: 100%;
    height: 100vh;
    color: #121212;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
}

.introduction-wrapper{
    height: 100vh;
    background: linear-gradient(-45deg, rgb(33, 37, 41), rgb(52,58,64), rgb(73,80,87),rgb(108,117,125));
    background-size: 400% 400%;
    animation: backgroundTransition 8s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
    
.skills{
    background-color: #121212;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-list {
    font-size: 30px;
    text-decoration: none;
    font-family: monospace, serif;
    line-height: 80px;
}

.social-button {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s
        cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

.socials-buttons {
    margin-top: 1rem;
    display: flex;
}

.typewriter-effect h1{
    overflow: hidden;
    border-right: .15em solid rgb(46, 6, 110);
    margin: 0 auto;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40,end),
    cursor-animation.75s step-end infinite;
}

.item-wrapper{
    padding: 1rem 10rem;
    text-decoration: none;
    color: white;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.back-button > a {
    position: fixed; 
    bottom: 50px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgba(201, 202, 207, 0.829); 
    color: rgb(34, 27, 27); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

/* Hovers*/

.header-text:hover {
    color:rgb(34, 27, 27);
    font-size: 40px;
    scale: .8;
    opacity: .7;
}

.social-button:hover{
    color: rgb(34, 27, 27);
    background-color: aliceblue;
}

.item-hover {
    color: white;

    transition: scale 350ms ease, opacity 350ms linear;
}

.item-hover:hover {
    color: rgb(34, 27, 27);
    background-color: white;
    scale: .8;
    opacity: .7;
}


/* IDs */

#trybe{
    color: green;
}


/* transição background */
@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}

/* Efeito de escrita no h1 */
@keyframes typing{
    from { width: 0}
    to { width: 100%}
}

/* Efeito do cursor */
@keyframes cursor-animation{
    from, to {border-color: transparent}
    50% { border-color: rgb(46, 6, 110);}
}