* {
  padding: 0%;
  margin: 0%;
}

body {
  text-align: center;
}

main {
  display: inline-block;
  border: black solid 1px;
  padding: 30px;
}

.header-trybe {
  display: block;
  text-align: center;
  height: 130px;
  border: black 1px solid;
  margin-bottom: 25px;
}

.header-trybe img {
  margin-top: 12px;
  height: 70px;
}

.form-section {
  text-align: left;
  margin: 25px;
}

.hotel-form,
.list-section {
  margin: 25px;
  color: rgb(73, 73, 73);
  font-size: 25px;
}

button {
  width: 30%;
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
}

li {
  text-align: left;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 25px;
  border: black 1px solid;
}

ol {
  display: inline-block;
  list-style-type: none;
  margin-top: 15px;
  width: 90%;
}

textarea {
  box-sizing: content-box;
  padding: 10px;
}
