body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #f5f5f5;
}

form {
    border: 5px solid black;
    width: 50%;
    margin: 0 auto;
}

section {
    margin: 30px;
}

p {   
    margin: 0;
}

